<div class="boxfooter">
    <div class="container">
        <footer>
            <section class="logo">
                <a href="http://www.zhiyou100.com">
               
            </a>
                <p>本网站为个人练手项目，不允许任何人以任何目的进行传播和商业运作</p>
            </section>
            <section class="nav">
                <div>
                    <ul>
                        <li><a href="#">关于</a></li>
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">广告合作</a></li>
                        <li><a href="#">友情链接</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="contact">
                        <li>联系方式： 0371-xxx-xxx</li>
                        <li>联系QQ： 89745621</li>
                        <li>电子邮件： ddy@163.com</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><a href="#">旗下网站</a></li>
                       
                        <li><a href="#">个人博客</a></li>
                    </ul>
                </div>
            </section>
        </footer>
        <div class="copyright">&copy;2017 本网站的所有权归智游集团教学部</div>
    </div>
</div>