<div class="success">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title logo">
                    <img src="/images/bootstrap-logo.png" alt="bootstrap-logo.png">
                    <span>发送邮件成功</span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="tip">发送邮箱成功！请登录邮箱！</div>
            </div>
        </div>
    </div>
</div>